a:hover {
    /* color: green; */
    color: #00AEFF;
}

a {
    color: #fff;
}

body, main {
    display: flex;
}

body {
    flex-direction: column;
}

main {
    flex: auto;
}

aside {
    flex: 0.6;
    /* background-color: #f6f6f6; */
    background-color: #2464b5;
}

article {
    flex: 3;
    padding: 15px;
    padding-right: 0;
    /* padding-bottom: 10px; */
}

aside ul {
    list-style-type: none;
}

aside a {
    display: flex;
    padding: 10px;
}

.tit-bar {
    padding-bottom: 1px;
    border-bottom: 1px solid;
    height: 20px;
}

.time {
    float: right;
}

.header-main {
    padding: 0 0 80px;
    background-image: url(https://res.nba.cn/static/styles/images/header-bg.png);
    height: 40px;
}

.logo-img {
    margin: 10px;
    width: 136px;
    height: 70px;
    padding: 15px;
}

.info {
    line-height: 28px;
}
